@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Spicy+Rice&display=swap');

/* General Formating Styling */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  opacity: 0.9;
}

.content {
  flex: 1 0 auto;
  height: 83vh;
}

footer {
  flex-shrink: 0;
  padding-top: 10px;
  height: 5vh;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.navbar {
  height: 12vh;
}

.no-padding {
  padding: 0;
}

/* Font Styling */

h1,
h2,
h3,
h4 {
  font-family: 'Spicy Rice', cursive;
  color: #f5f5f5;
}

p {

  font-size: 28px;
}

p,
li {
  font-family: 'Indie Flower', cursive;
  color: #f5f5f5;
}

.menu-text {
  font-family: 'Spicy Rice', cursive;
  color: #f5f5f5;
  font-size: 1.2rem;
}

/* Color */

.main-color {
  background-color: #422020;
}

.l-brown-background {
  background-color: #674134;
}

.transparent {
  background-color: transparent;
}

.tile {
  display: inline-block;
  margin: 5px;
  background-color: #d0cbcb;
  border-radius: 8px;
}


/* Image Sizing & positioning */

.nav-logo {
  width: auto;
  height: 60px;
}

.menu-icon {
  max-height: 60px;
  width: auto;
}

.image-center {
  background-position: center;
}

/* General Styling */

.back-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 87vh;
  width: 100vw;
}

/* Landing Page */

.background-image {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585555815/Dwarf%20Match/Backgrounds/forest_wq8sdg.png");
}

.landing-title {
  padding: 50px;
}

.menu-item {
  border-radius: 5px;
  border: 2px sold #fafafa;
  background-color: #422020;
  width: 250px;
  padding: 5px;
  margin: 10px;
}

.menu-item img {
  float: left;
}

.menu-item h3 {
  padding: 10px 0px;
}

/* Modal */

.modal {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  border-radius: 5px;
  border: 2px solid #f5f5f5;
}

.inner-header {
  border-bottom: 2px solid #f5f5f5;
  padding: 10px 5px 0px 5px;
}

.inner-content {
  padding: 10px 5px 0px 5px;
}

.inner-bottom {
  padding: 10px;
}


/* The Close Button */

.modal-close img {
  width: 50px;
}

/* Play Menu */

.level-btn {
  padding-top: 10px;
}

.level-btn img {
  max-width: 150px;
}

/* Game Area */

#game-page {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585555815/Dwarf%20Match/Backgrounds/Easy.png");
}

#game-area {
  position: relative;
  height: 10vh;
}

.game-container {
  width: 90%;
  height: 100%;
  margin: auto;
  flex-wrap: wrap;
}

#gameArea {
  padding-top: 10px;
}

#restart {
  position: absolute;
  right: 1%;
  top: 1%;
}

#restart-btn {
  padding-top: 10px;
}

.restart-image {
  width: 60px;
}


/* Level Background */

.game-easy-background {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585555815/Dwarf%20Match/Backgrounds/Easy.png");
}

.game-normal-background {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585555815/Dwarf%20Match/Backgrounds/Normal.png");
}

.game-hard-background {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585555815/Dwarf%20Match/Backgrounds/Hard.png");
}


/* Tilesets */

/* Easy Tileset */

.easyPair1 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824422/Dwarf%20Match/Cards/Back/G1.png");
  background-size: cover;
}

.easyPair2 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824301/Dwarf%20Match/Cards/Back/S1.png");
  background-size: cover;
}

.easyPair3 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824119/Dwarf%20Match/Cards/Back/B1.png");
  background-size: cover;
}

.easyPair4 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824119/Dwarf%20Match/Cards/Back/K1.png");
  background-size: cover;
}

.easyPair5 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/W1.png");
  background-size: cover;
}

.easyPair6 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/A1.png");
  background-size: cover;
}

.easyPair7 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/P1.png");
  background-size: cover;
}

.easyPair8 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/M1.png");
  background-size: cover;
}

/* Normal Tileset */

.nomralPair1 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824422/Dwarf%20Match/Cards/Back/G1.png");
  background-size: cover;
}

.nomralPair2 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824301/Dwarf%20Match/Cards/Back/S1.png");
  background-size: cover;
}

.nomralPair3 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824119/Dwarf%20Match/Cards/Back/B1.png");
  background-size: cover;
}

.nomralPair4 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824119/Dwarf%20Match/Cards/Back/K1.png");
  background-size: cover;
}

.nomralPair5 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/W1.png");
  background-size: cover;
}

.nomralPair6 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/A1.png");
  background-size: cover;
}

.nomralPair7 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/P1.png");
  background-size: cover;
}

.nomralPair8 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/M1.png");
  background-size: cover;
}

.nomralPair9 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/M2.png");
  background-size: cover;
}

.nomralPair10 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/A2.png");
  background-size: cover;
}

.nomralPair11 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/B2.png");
  background-size: cover;
}

.nomralPair12 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/W2.png");
  background-size: cover;
}

/* Hard Tileset */

.hardPair1 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824422/Dwarf%20Match/Cards/Back/G1.png");
  background-size: cover;
}

.hardPair2 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824301/Dwarf%20Match/Cards/Back/S1.png");
  background-size: cover;
}

.hardPair3 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824119/Dwarf%20Match/Cards/Back/B1.png");
  background-size: cover;
}

.hardPair4 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585824119/Dwarf%20Match/Cards/Back/K1.png");
  background-size: cover;
}

.hardPair5 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/W1.png");
  background-size: cover;
}

.hardPair6 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/A1.png");
  background-size: cover;
}

.hardPair7 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/P1.png");
  background-size: cover;
}

.hardPair8 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/M1.png");
  background-size: cover;
}

.hardPair9 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/M2.png");
  background-size: cover;
}

.hardPair10 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/A2.png");
  background-size: cover;
}

.hardPair11 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/B2.png");
  background-size: cover;
}

.hardPair12 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/W2.png");
  background-size: cover;
}

.hardPair13 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/P3.png");
  background-size: cover;
}

.hardPair14 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/A3.png");
  background-size: cover;
}

.hardPair15 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/S3.png");
  background-size: cover;
}

.hardPair16 {
  background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585822155/Dwarf%20Match/Cards/Back/B3.png");
  background-size: cover;
}

/* Special tile classes */

.faceDown {
  background: url("https://res.cloudinary.com/andy-osborne/image/upload/v1585821476/Dwarf%20Match/Cards/Front/6_tj1ur9.png") no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #d0cbcb;
  border-radius: 8px;
}

/* Media Queries */

@media only screen and (min-width: 320px) {
  .modal {
    margin-top: 10%;
    max-width: 80%;
    max-height: 75%;
  }

  li,
  p {
    font-size: 20px;
  }

  .tile {
    margin-top: 20px;
    height: 10vh;
    width: 10vw;
  }

  #gameArea {
    width: 100vw;
  }
}

@media only screen and (min-width: 1023px) {

  #tutorial.modal,
  #levelSelect.modal {
    margin-top: 0;
    height: auto;
  }

  #levelSelect.modal {
    width: auto;
    padding: 10px;
  }

  #tutorial.modal {
    margin-top: 0;
    width: 1050px;
  }

  .inner-content li,
  .inner-content p {
    font-size: 24px;
  }

  #gameArea>.tile {
    height: 15vh;
    width: 7vw;
  }

  .game-container>#gameArea {
    width: 80vw;
  }
}